:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}


@font-face {
  font-family: 'PP Neue Machina';
  src: local('PPNeueMachina-PlainLight'), url('./fonts/PPNeueMachina-PlainLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: local('PPNeueMachina-PlainLightItalic'), url('./fonts/PPNeueMachina-PlainLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: local('PPNeueMachina-PlainRegular'), url('./fonts/PPNeueMachina-PlainRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: local('PPNeueMachina-PlainRegularItalic'), url('./fonts/PPNeueMachina-PlainRegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: local('PPNeueMachina-PlainUltrabold'), url('./fonts/PPNeueMachina-PlainUltrabold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: local('PPNeueMachina-PlainUltraboldItalic'), url('./fonts/PPNeueMachina-PlainUltraboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}
